
service cloud.firestore {
  match /databases/{database}/documents {
    match /sales/{saleId} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.admin == true;
      allow update, delete: if false;
    }

    match /orders/{orderId} {
      allow read: if request.auth != null
                  && (request.auth.token.admin || resource.data.userId == request.auth.uid)
      allow write: if request.auth != null
                   && request.auth.uid == request.resource.data.userId
                   && request.auth.token.name == request.resource.data.userName
      allow delete: if request.auth != null
                    && request.auth.token.admin
      allow update: if false
    }
  }
}
